<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lista estudiantes</title>
</head>
<body>
<table>
    <thead>
    <th>ID</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Edad</th>
    <th>Estado</th>
    </thead>
    <th:block th:each="estudiante, row:${estudiantes}">
        <tr>
            <th th:text="${estudiante.id_estudiante}"/>
            <th th:text="${estudiante.nombre}"/>
            <th th:text="${estudiante.apellido}"/>
            <th th:text="${estudiante.edad}"/>
            <th th:text="${estudiante.estado}"/>
        </tr>
    </th:block>
</table>
<br>
<form th:action="@{/estudiante}">
    <input type="submit" value="Regresar">
</form>
</body>
</html>